@{
	Layout=String.Empty;
	ViewData["Title"] = "Minesweeper";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Minesweeper</title>
    <link rel="icon" type="image/png" href="/images/Minesweeper/mine.jpg" />
	<link href="/css/projects/minesweeper/minesweeper.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
	<script type="text/javascript" src="/js/native/minesweeper/jsAPI.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/native/minesweeper/minesweeper.js"></script>
	<script type="text/javascript" src="/js/native/minesweeper/solver.js"></script>
	<script type="text/javascript" src="/js/native/minesweeper/modernizr.custom.06116.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
    <noscript>
        Turn on javascript in your browser, or if it does not support it, download modern browser.
    </noscript>
	
</head>
<body>
	<form method="post" action="./" id="languageForm">
<div class="aspNetHidden">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="KFnyOVUEU+IqBeZHIS15yKRsZW+72OeKBA7362vRpE15ZZYJRrCIwn3LM4cjrQqqRu9QYg+TswqJJcmreCxtemSIWynNN5xiCUJlMYnXKa0=" />
</div>

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="BE937C54" />
</div>
	<div class="rightBar" >
		<div class="solverButton">
			<span id="lblSolver">Solver</span>
			<div style="width:90%; margin: 10% 0px 0px 5%; border-top:1px solid black;"></div>
		</div>
		<span id="lblRules">Rules</span>
		<div style="width:90%; margin: 10% 0px 0px 5%; border-top:1px solid black;"></div>
		<span id="lblHelp">Help</span>
		<div id="solverMenu">
			<span id="lblGetMove">Get move</span>
			<input type="checkbox" id="checkBox" /><span id="lblSolverRun">Run as long as you can</span>
			<span id="lblSolverCancel">Cancel</span>	
		</div>
	</div>

	<div id="imgHolder" style="display: none;">
		<img id="aspImage" src="/images/Minesweeper/USFlag.png" />
	</div>
	<span id="lblHelpSrc" style="display: none;">/files/Minesweeper/HTMLs/Instructions/Instructions.en-en.html</span>
	<span id="lblRulesSrc" style="display: none;">/files/Minesweeper/HTMLs/Rules/Rules.en-en.html</span>
    <span id="win" style="display: none;">Win</span>
    <span id="loose" style="display: none;">Loose</span>
	<span id="lblMineTip" style="display: none;">Number from . to . 10%-70% of field</span>
    <div class="tipText size"><span id="lblTipSize">5 >= number >= 30, width >= height<br>Field heigher than 20 is not recommended</span></div>
	<div class="tipText mineAmount"></div>
    <div class="loading"><div class="loadingText"><span id="lblLoading">Loading...</span></div></div>
	<div class="header">
		<span id="errorLabel" style="display: none;">Text.</span>
		<div class="leftHeaderContainer">
			<input type="submit" name="ukr_button" value="" id="ukr_button" value="uk-ua" />
			<div style="width:90%; margin: 3% 0px 0px 5%; border-top:1px solid black;"></div>
			<input type="submit" name="eng_button" value="" id="eng_button" value="en-US" />
		</div>
		<div style="float: left; height:80%; margin-top: 1%; border-left:1px solid black;"></div>
		<div class="headerMiddle">
			<span id="lblMinesweeper" style="display: block;">Minesweeper</span>
			<input name="ctl06" type="button" class="newGameButton" value="New Game" />
			<div style="float: left; height:28%; margin-top: 1%; border-left:1px solid black;"></div>
			<input name="ctl07" type="button" class="leaderBoardButton" value="Leaderboard" />
		</div>
		<div style="float: left; height:80%; margin-top: 1%; border-left:1px solid black;"></div>
		<div class="headerLoading">
			<div class="headerLoadingBar"></div>
			<span id="loading" style="display: block;">Loading...</span>
			<span id="done" style="display: block;">Done.</span>
		</div>
	</div>
	<div class="page">
		<div class="main newGame">
			<div class="menu">
				<div class="menuOption small">
					<span id="Label1">Beginner</span>
				</div>
				<div class="menuOption medium">
					<span id="Label2">Intermediate</span>
				</div>
				<div class="menuOption professional">
					<span id="Label3">Expert</span>
				</div>
				<div class="customGame">
					<span id="Label4">Special</span>
				</div>
					<div class="username">
						<input name="ctl08" type="text" class="usernameField" Placeholder="Your Name" />
					</div>
					<div class="customGameOptions">
						<span id="Label6">Field size</span>: <br><input name="ctl09" type="text" class="fieldSize X" /> <span>by</span> <input type='text' class='fieldSize Y' /><span class='sizeAlert'>!</span><span class='sizeTip'>&nbsp;&nbsp;?&nbsp;&nbsp;</span><br>
						<span id="Label7">Number of mines</span>: <input type='text' class='mineAmount' /><span class='mineAmountAlert'>!</span><span class='mineAmountTip'>&nbsp;&nbsp;?&nbsp;&nbsp;</span><br>
						<span class="startGame">Start</span>
					</div>
			</div>
		</div>
		
		<div class="main gamePage">
			<div class="gameMenu">
				<div class="flagLeft">
				    
				</div>
				<div class="smile">
					<span class="restartGame">Restart</span>
				</div>
				<div class="timer">
				    00:00:00
				</div>
			</div>
			<div class="field"></div>
            <div class="result"></div>
		</div>
		
		<div class="leaderBoard">
			<div class="sheet">
				<table>
				    <thead>
                        <tr>
                            <td class="leaderHead easy" id="easy">
                                <span>easy</span>
                            </td>
                            <td class="leaderHead medium" id="medium">
                                <span>medium</span>
                            </td>
                            <td class="leaderHead professional" id="professional">
                                <span>professional</span>
                            </td>
                        </tr>
                        <tr class="columnName">
                            <td> # </td>
                            <td>
                                <span>Username</span>
                            </td>
                            <td>
                                <span>Time</span>
                            </td>
                        </tr>
				    </thead>
                    <tbody>

                    </tbody>
				</table>
			</div>
		</div>
        <div class="main authorsPage">
            <div class="authorsInfo">
				<div class="dimaInfo">
					<a href="http://facebook.com/dima4ka007" target="_blank"><img src="/images/Minesweeper/Authors/Dmytro.jpg" /></a>
					<div class="authorName">
						<span>Dmytro</span>
						<br /><span>Bogatov</span>
						<br /><a href="mailto:dbogatov@wpi.edu">dbogatov@wpi.edu</a>
					</div>
					<div class="authorDescription">
						<br /><i><span id="Label8">Back-end developer</span></i>
						<br /><b><span id="Label9">Project leader</span></b>
						<br /><span id="Label23">Server side:</span>
						<ul>
							<li>
								<span id="Label10">Game Engine</span></li>
							<li>
								<span id="Label11">Database Managment</span></li>
							<li>
								<span id="Label5">Localization</span></li>
							<li>
								<span id="Label20">Poster</span></li>
							<li>
								<span id="Label24">Solver</span> (<a href="http://robertmassaioli.wordpress.com/2013/01/12/solving-minesweeper-with-matricies/" target="_blank">inspired by Robert Massaioli</a>)</li>
						</ul>
					</div>
				</div>
                <div class="bogdanInfo">
					<a href="http://vk.com/omarox" target="_blank"><img src="/images/Minesweeper/Authors/Bogdan.jpg" /></a>
					<div class="authorName">
						<span id="Label12">Bogdan</span>
						<br /><span id="Label13">Yarema</span>
						<br /><a href="mailto:omaroxtv@gmail.com">omaroxtv@gmail.com</a>
					</div>
					<div class="authorDescription">
						<br />
						<i><span id="Label14">Front-end developer</span></i>
						<br />
						<br /><span id="Label25">Client Side:</span>
						<ul>
							<li>
								<span id="Label26">Styles</span></li>
							<li>
								<span id="Label27">Scripts</span></li>
							<li>
								<span id="Label28">HTML Markup</span></li>
							<li>
								<span id="Label29">Interface Rendering</span></li>
						</ul>
					</div>
                </div>
            </div>
			
		</div>
        <div class="main pdfPage">
			<div class="poster">
				<img src="/images/Minesweeper/Poster.png" />
			</div>
			<a id="hyperlink1" href="/files/Minesweeper/Poster.pdf" target="_blank">Download PDF</a>
			<a id="hyperlink2" href="/images/Minesweeper/Poster.png" target="_blank">Download PNG</a>
		</div>
		<div class="main help">
			<iframe id ="helpFrame"></iframe>
		</div>
		<div class="main rules">
			<iframe id ="rulesFrame"></iframe>
		</div>
	</div>
	<div class="footer">
		<div class="info">
            <div class="authors">
                <span id="Label15">Authors</span>
            </div>
            <div style="float: left; height:80%; margin-top: 0px; border-left:1px solid black;"></div>
            <div class="pdfInfo">
                <span id="Label19">Structure</span>
            </div>
		</div>
        <div class="copyright">
            <span id="Label18">© 2014 Dmytro & Bogdan All Rights Reserved</span>
        </div>
	</div>
	</form>
</body>
</html>