@{
	Layout=String.Empty;
	ViewData["Title"] = "Banker Game Assistant";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Minesweeper</title>
    <link rel="icon" type="image/png" href="/images/Minesweeper/mine.jpg" />
	<link href="/css/minesweeper.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
	<script type="text/javascript" src="/js/native/minesweeper/jsAPI.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/native/minesweeper/minesweeper.js"></script>
	<script type="text/javascript" src="/js/native/minesweeper/solver.js"></script>
	<script type="text/javascript" src="/js/native/minesweeper/modernizr.custom.06116.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
    <noscript>
        Turn on javascript in your browser, or if it does not support it, download modern browser.
    </noscript>
</head>
<body>
	<form id="languageForm">
	<div class="rightBar" >
		<div class="solverButton">
			<label>Solver</label>
			<div style="width:90%; margin: 10% 0px 0px 5%; border-top:1px solid black;"></div>
		</div>
		<label>Rules</label>
		<div style="width:90%; margin: 10% 0px 0px 5%; border-top:1px solid black;"></div>
		<label>Help</label>
		<div id="solverMenu">
			<label>Get Move</label>
			<input type="checkbox" id="checkBox" /><label id="lblSolverRun">Run as long as you can</label>
			<label>Cancel</label>	
		</div>
	</div>

	<div id="imgHolder" style="display: none;">
		<img id="aspImage" src="http://www.hgsitebuilder.com/files/writeable/uploads/hostgator507407/image/american20flag.jpg"/>
	</div>
	<label id="lblHelpSrc"  style="display: none;">Help</label>
	<label id="lblRulesSrc" style="display: none;">Rules</label>
    <label id="win" style="display: none;"></label>
    <label id="loose" style="display: none;"></label>
	<label id="lblMineTip" style="display: none;"></label>
    <div class="tipText size">
		<label id="lblTipSize"></label>
	</div>
	<div class="tipText mineAmount"></div>
    <div class="loading">
		<div class="loadingText">
			<label id="lblLoading"></label>
		</div>
	</div>
	<div class="header">
		<label id="errorLabel" style="display: none;"></label>
		<div class="leftHeaderContainer">
			<button value="uk-ua" id="ukr_button" />
			<div style="width:90%; margin: 3% 0px 0px 5%; border-top:1px solid black;"></div>
			<button value="en-US" id="eng_button" />
		</div>
		<div style="float: left; height:80%; margin-top: 1%; border-left:1px solid black;"></div>
		<div class="headerMiddle">
			<label id="lblMinesweeper" style="display: block;">Minesweeper</label>
			<input type="button" value="New Game" class="newGameButton" />
			<div style="float: left; height:28%; margin-top: 1%; border-left:1px solid black;"></div>
			<input type="button" value="Leaderboard" class="leaderBoardButton" />
		</div>
		<div style="float: left; height:80%; margin-top: 1%; border-left:1px solid black;"></div>
		<div class="headerLoading">
			<div class="headerLoadingBar"></div>
			<label id="loading" style="display: block;">Loading...</label>
			<label id="done" style="display: block;">Done</label>
		</div>
	</div>
	<div class="page">
		<div class="main newGame">
			<div class="menu">
				<div class="menuOption small">
					<label id="Label1">Beginner</label>
				</div>
				<div class="menuOption medium">
					<label id="Label2">Medium</label>
				</div>
				<div class="menuOption professional">
					<label id="Label3">Professional</label>
				</div>
				<div class="customGame">
					<label id="Label4">Special</label>
				</div>
					<div class="username">
						<input type="text" class='usernameField' />
					</div>
					<div class="customGameOptions">
						<label id="Label6">Field Size:</label>: <br><input type="text" class='fieldSize X' /><label>by</label> <input type='text' class='fieldSize Y' /><span class='sizeAlert'>!</span><span class='sizeTip'>&nbsp;&nbsp;?&nbsp;&nbsp;</span><br>
						<label id="Label7">Mines number</label>: <input type='text' class='mineAmount' /><span class='mineAmountAlert'>!</span><span class='mineAmountTip'>&nbsp;&nbsp;?&nbsp;&nbsp;</span><br>
						<label class='startGame'>Start</label>
					</div>
			</div>
		</div>
		
		<div class="main gamePage">
			<div class="gameMenu">
				<div class="flagLeft">
				    
				</div>
				<div class="smile">
					<label class='restartGame'>Restart</label>
				</div>
				<div class="timer">
				    00:00:00
				</div>
			</div>
			<div class="field"></div>
            <div class="result"></div>
		</div>
		
		<div class="leaderBoard">
			<div class="sheet">
				<table>
				    <thead>
                        <tr>
                            <td class="leaderHead easy" id="easy">
                                <label>Easy</label>
                            </td>
                            <td class="leaderHead medium" id="medium">
                                <label>Medium</label>
                            </td>
                            <td class="leaderHead professional" id="professional">
                                <label>Hard</label>
                            </td>
                        </tr>
                        <tr class="columnName">
                            <td> # </td>
                            <td>
                                <label>Name</label>
                            </td>
                            <td>
                                <label>Time</label>
                            </td>
                        </tr>
				    </thead>
                    <tbody>

                    </tbody>
				</table>
			</div>
		</div>
        <div class="main authorsPage">
            <div class="authorsInfo">
				<div class="dimaInfo">
					<a href="http://facebook.com/dima4ka007" target="_blank"><img src="/images/Minesweeper/Authors/Dmytro.jpg" /></a>
					<div class="authorName">
						<label>Dmytro</label>
						<br /><label>Bogatov</label>
						<br /><a href="mailto:dbogatov@wpi.edu">dbogatov@wpi.edu</a>
					</div>
					<div class="authorDescription">
						<br /><i><label id="Label8">Back end</label></i>
						<br /><b><label id="Label9">Project leader</label></b>
						<br /><label id="Label23">Server side</label>
						<ul>
							<li>
								<label id="Label10">Game Engine</label></li>
							<li>
								<label id="Label11">Database Management</label></li>
							<li>
								<label id="Label20">Poster</label></li>
							<li>
								<label id="Label24">Solver</label> (<a target="_blank" href="http://robertmassaioli.wordpress.com/2013/01/12/solving-minesweeper-with-matricies/">Inspired by Robert Massaioli</a>)</li>
						</ul>
					</div>
				</div>
                <div class="bogdanInfo">
					<a href="http://vk.com/omarox" target="_blank"><img src="/images/Minesweeper/Authors/Bogdan.jpg" /></a>
					<div class="authorName">
						<label id="Label12">Bogdan</label>
						<br /><label id="Label13">Yarema</label>
						<br /><a href="mailto:omaroxtv@gmail.com">omaroxtv@gmail.com</a>
					</div>
					<div class="authorDescription">
						<br />
						<i><label id="Label14">Front end</label></i>
						<br />
						<br /><label id="Label25">Client side</label>
						<ul>
							<li>
								<label id="Label26">Styles</label></li>
							<li>
								<label id="Label27">Scripts</label></li>
							<li>
								<label id="Label28">HTML Markup</label></li>
							<li>
								<label id="Label29">Interface Rendering</label></li>
						</ul>
					</div>
                </div>
            </div>
			
		</div>
        <div class="main pdfPage">
			<div class="poster">
				<img src="/images/Minesweeper/Poster.png" />
			</div>
			<a id="hyperlink1" href="/files/Minesweeper/Poster.pdf" target="_blank">PDF</a>
			<a id="hyperlink2" href="/images/Minesweeper/Poster.png" target="_blank">PNG</a>
		</div>
		<div class="main help">
			<iframe id ="helpFrame"></iframe>
		</div>
		<div class="main rules">
			<iframe id ="rulesFrame"></iframe>
		</div>
	</div>
	<div class="footer">
		<div class="info">
            <div class="authors">
                <label id="Label15">Authors</label>
            </div>
            <div style="float: left; height:80%; margin-top: 0px; border-left:1px solid black;"></div>
            <div class="pdfInfo">
                <label id="Label19">Structure</label>
            </div>
		</div>
        <div class="copyright">
            <label id="Label18">© 2014 Dmytro & Bogdan All Rights Reserved</label>
        </div>
	</div>
	</form>
</body>
</html>