/* BOOTSTRAP */

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* Banker */

.dl-horizontal dt{
    text-align: left;
    /*margin-bottom: 1em;*/
    width: auto;
    padding-right: 1em;
}

.dl-horizontal dd{
    margin-left: 0;
    /*margin-bottom: 1em;*/
}

/* RESUME */

td.ResumeHeader {
	padding-top: 10px;
	padding-bottom: 7px;
}

div.resume {
	font-family: 'Roboto', sans-serif;
	border: solid #DCDCDC;
	border-width: 1px;
	padding:15px;
}

.resume table {
	width:100%;
}

td.resumeLeft {
	text-align:left;
}

td.resumeRight {
	text-align:left;
}

td.resumeCenter {
	text-align:justify;
}

span.ResumeHeader {
	font-weight: bold;
}

span.ResumeBold {
	font-weight: bolder;
}

span.ResumeBody {
	font-weight: 100;
}

#nameSpan {
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	font-size:x-large;
}

#contacSpan {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

/* PROJECTS */

.project-thumbnail {
	padding-top:10px;
}