body {
  cursor: url('/images/Mandelbrot/finger.png'), auto;
}

td {
    vertical-align: middle;
}

#contentCell {
	border: 1px solid white;
}

.moveControl {
	background-color: rgba(125, 142, 146, 0.4);
}

.moveControl:hover { 
    background-color: rgba(125, 142, 146, 0.7);
}

#zoomPanel {
	position: absolute;
	width: 180px;
	height: 40px;
	left: 15px;
	top: 15px;
	background-color: rgba(125, 142, 146, 0.95);
	border-radius: 15px;
	font-size: 30px;
	
	text-align: center;
	line-height: 40px;
}