#name {
	width: 100%;
	text-align: center;
	font-size: 28pt;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#statement{
	font-size: 19px;
	font-weight: bold;
	letter-spacing: 1px;
	outline-color: rgb(0, 0, 0);
	outline-style: none;
	outline-width: 0px;
	text-align: center;
	text-transform: uppercase;
}

.job {
	margin-top: 12px;
	padding-top: 15px;
}

.next-job {
	
	border-top-color: rgba(0, 0, 0, 0.0470588);
	border-top-style: dashed;
	border-top-width: 1px;
}

.section {
	text-transform: uppercase;
}

.bold-data {
	font-weight: bold;
	font-size: 15pt;
	padding-bottom: 50px;
}

.mid-data {
	font-weight: bold;
	font-size: 13.5pt;
	padding-bottom: 5px;
}

.description {
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.large-description {
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:center;
	display: block;
}

.icon {
	padding-left: 25px;
}

.data {
	padding-left: 5px;
}

#degree {
	font-size: 15pt;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	display: block;
	text-align:center;
}

#contact {
	line-height: 2em;
	padding-top: 5px;
	padding-bottom: 10px;
}

#mainContent {
	font-family: 'Lato', sans-serif;
	font-weight:300;
}
