<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dbogatov.org</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://sergeylokot-001-site2.smarterasp.net:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>sergeylokot-001-site2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\sergeylokot-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_99F084_dima;User ID=DB_99F084_dima_admin;Password=Otlichno!" Name="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_99F084_dima;User Id=DB_99F084_dima_admin;Password=Otlichno!;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Personal_Website.Models.ApplicationDbContext, Personal Website" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="aspnet_Personal_Website_20150222081252ConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;|DataDirectory|\aspnet-Personal Website-20150222081252.mdf&quot;;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\aspnet_Personal_Website_20150222081252ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;|DataDirectory|\aspnet-Personal Website-20150222081252.mdf&quot;;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DB_99F084_dimaConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_99F084_dima;User ID=DB_99F084_dima_admin;Password=Otlichno!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_99F084_dimaConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_99F084_dima;User ID=DB_99F084_dima_admin;Password=Otlichno!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_99F084_dima;User Id=DB_99F084_dima_admin;Password=Otlichno!;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>