@{
	ViewData["Title"] = "My Courses";
}

<h2>@ViewData["Title"] (GPA: <span id="totalGPA"></span>)</h2>

<div class="row">
	<div class="col-md-6" id="leftBlock">
		
	</div>
		
	<div class="col-md-6"" id="rightBlock">
		
	</div>
</div>

@section scripts {
	<script src="/lib/tablesorter/jquery.tablesorter.min.js"></script>
	<script>
		var globalModule = "CoursesPage";	
	</script>
}