@{
	ViewData["Title"] = "My Projects";
}

<div class="row">

	<div class="col-md-12 row-centered" style="margin-bottom: 20px;">
		<h3>@ViewData["Title"]</h3>

		<div style="padding-bottom:50px">
			<ul class="col-md-12 nav nav-pills nav-justified" id="myTab">
				<li role="presentation" class="active"><a href="#all">All</a></li>

			</ul>
		</div>

		<div class="form-inline">
			<div class="form-group has-success" id="searchDiv">
				<div class="input-group" style="width: 300px;">
					<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
					<input type="text" class="form-control" placeholder="eq. Minesweeper..." id="searchBar" />
				</div>
			</div>
			<div class="form-group">
				<input type="button" class="form-control btn btn-primary" value="Clear search" id="clearSearch" style="width: 100px;" />
			</div>
			<div class="checkbox" style="padding-left:50px">
				<label>
					<strong>Title:</strong>
					<input type="checkbox" checked id="titleChbx" />
				</label>
			</div>
			<div class="checkbox" style="padding-left:50px">
				<label>
					<strong>Description:</strong>
					<input type="checkbox" checked id="descriptionChbx" />
				</label>
			</div>
		</div>

	</div>
	
	<hr id="separator" />

	<div class="row-centered" id="emptySearchPlaceholder" hidden>
		<h3>
			No results match your search string...
		</h3>
	</div>

	<div id="projectsDiv"></div>

</div>

@section scripts {
	<script>
		
		require(["ProjectPage"], function (ProjectPage) {
			var app = new ProjectPage();
			app.run();
		});
		
	</script>
}