@{
	Layout=String.Empty;
}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>Mandelbrot</title>

		<link href="/lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="/css/projects/mandelbrot/mandelbrot.css" rel="stylesheet">
		
		<!-- ionic/angularjs js -->
		<script src="/lib/ionic/js/ionic.bundle.js"></script>

		<script src="/lib/jquery/dist/jquery.js"></script>

		<!-- your app's js -->
		<script src="/ts/Mandelbrot.js"></script>
	</head>

	<body ng-app="starter" ng-controller="MainCtrl">
		<ion-pane>
			<ion-header-bar class="bar-stable">
				<button class="button button-clear button-positive" ng-click="openModal()">
					<i class="icon ion-gear-a"></i>
				</button>
				<h1 class="title">HU 3910 - Mandelbrot</h1>
				<a class="button button-clear button-positive" ng-click="exportImage()" download="Ьфтвудикще.png" href="#">
					<i class="icon ion-ios-upload-outline"></i>
				</a>
			</ion-header-bar>
			<ion-content id="ionicContent" class="has-header" scroll="false">
				
				<canvas id="myCanvas" width="200" height="100" style="position: absolute;">
					Your browser does not support the canvas element.
				</canvas>
				
				<table style="width: 100%; text-align: center; position: absolute; font-size: 50px;">
					<tbody>
						<tr style="height: 50px;">
							<td class="moveControl" colspan="3" ng-click="move( 'up' )">
								<i class="icon ion-arrow-up-b positive"></i>
							</td>	
						</tr>
						<tr id="contentTR">
							<td style="width: 50px;" class="moveControl" ng-click="move( 'left' )">
								<i class="icon ion-arrow-left-b positive"></i>	
							</td>	
							<td id="contentCell" style="vertical-align: top;">
								
								<div style="position: relative;">
									<div id="zoomPanel">
										<a class="assertive" ng-click="zoom( 'out' )">
											<i class="icon ion-minus"></i>
										</a>
										<span style="margin-left: 10px; margin-right: 10px;">
											Zoom
										</span>
										<a class="assertive" ng-click="zoom( 'in' )">
											<i class="icon ion-plus"></i>
										</a>
									</div>
								</div>
								
							</td>
							<td style="width: 50px;" class="moveControl" ng-click="move( 'right' )">
								<i class="icon ion-arrow-right-b positive"></i>
							</td>
						</tr>
						<tr style="height: 50px;">
							<td colspan="3" class="moveControl" ng-click="move( 'down' )">
								<i class="icon ion-arrow-down-b positive"></i>	
							</td>	
						</tr>
					</tbody>
				</table>
			</ion-content>
		</ion-pane>
		
		<script id="settings-modal.html" type="text/ng-template">
			<ion-modal-view>
				<ion-header-bar>
					<button class="button button-clear button-assertive" ng-click="closeModal()">
						Cancel
					</button>
					<h1 class="title">Render Settings</h1>
					<button class="button button-clear button-positive" ng-click="closeModal()">
						Apply
					</button>
				</ion-header-bar>
				<ion-content>
					<div class="list">
						<div class="item item-divider">
							Light settings
						</div>
						
						<div class="item" id="colorsItem" style="height: 50px;"></div>
						
						<label id="" class="item item-input item-stacked-label">
							
							<span class="input-label">Color</span>
							
							<div class="range range-assertive" style="width: 100%;">
								<i class="icon ion-paintbrush assertive"></i>
								<input id="redColorRange" type="range" min="0" max="255" ng-model="data.redColor" ng-change="setRangeLabel( 'redColor' )">
								<span id="redColorRangeLabel">255</span>
							</div>
							<div class="range range-balanced" style="width: 100%;">
								<i class="icon ion-paintbrush balanced"></i>
								<input id="greenColorRange" type="range" min="0" max="255" ng-model="data.greenColor" ng-change="setRangeLabel( 'greenColor' )">
								<span id="greenColorRangeLabel">255</span>
							</div>
							<div class="range range-positive" style="width: 100%;">
								<i class="icon ion-paintbrush positive"></i>
								<input id="blueColorRange" type="range" min="0" max="255" ng-model="data.blueColor" ng-change="setRangeLabel( 'blueColor' )">
								<span id="blueColorRangeLabel">255</span>
							</div>
						</label>
						
						<div class="item item-divider">
							Heavy settings
						</div>
						
						<label class="item item-input item-stacked-label">
							<span class="input-label">Iterations (higer - slower, more precise)</span>
							<div class="range range-positive" style="width: 100%;">
								<i class="icon ion-load-a"></i>
								<input id="iterationsRange" type="range" min="50" max="4096" ng-model="data.iterations" ng-change="setRangeLabel( 'iterations' )">
								<span id="iterationsRangeLabel">1024</span>
							</div>
						</label>
						
						<label class="item item-input item-stacked-label">
							<span class="input-label">Gamma (%)</span>
							<div class="range range-royal" style="width: 100%;">
								<i class="icon ion-ios-sunny"></i>
								<input id="gammaRange" type="range" min="10" max="100" ng-model="data.gamma" ng-change="setRangeLabel( 'gamma' )">
								<span id="gammaRangeLabel">50</span>
							</div>
						</label>
					</div>
					
				</ion-content>
				<ion-footer-bar class="bar bar-footer bar-balanced">
					<p class="title">"Apply" will not recompute image from scratch<p>
				</ion-footer-bar>
			</ion-modal-view>
		</script>
		
	</body>
</html>